html{
  background: steelblue; /*the whole page background*/
}
header{
background: url(images/me-smiling.jpg);
background-repeat: repeat;
background-position: center;
display: block;
background-size: auto;
height: 600px;
flex: 1%;
}/*the header picture of me*/

h1{
  font-size: 80px;
  letter-spacing: 2px;
  padding: 20px;
  margin-bottom: 300px;
  text-align: center;
  text-shadow: 0 0 20px rgb(255, 166, 1);
  flex: 1%;
}/*Jae-Davis*/

h3{
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: auto;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  flex: 1%;
}/*software engineer*/

h1, h2, h3, p, ul, li{
  color: azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 1%;
}/*the font and color of all text*/

h2{
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 50px;
}/*the size of all sub-headings*/

p, ul, li{
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  flex: 1%;
}
li{
  list-style-position: inside;
  margin-left: -40px;
}/*all paragraphs and list*/

.skates{
  width: 300px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  flex: 1;
}/*the skates picture*/

.group{
  display: flex;
  flex-direction: column;
}
.item{
  flex: 1px;
  margin: 20px;
}/*flex box*/

.service{
  text-align: center;
  margin-top: 40px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1%;
}/*the service section*/

nav{
  background: 0;
  box-shadow: 0 0 50px rgb(219, 150, 21);
  margin-top: auto;
  margin-bottom: auto;
  flex: 1%;
}/*projects section*/

.project{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 80px;
  background: url(images/orange.jpg);
  flex: 1%;
}/*the whole project section*/
.screen{
  width: 280px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  flex: 1%;
}/*the screen shot*/

.contact{
  text-align: center;
  margin: 30px;
  margin-top: 100px;
}/*contact word*/

form{
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: azure;
  line-height: 30px;
}/*the form field*/
textarea, input[type=text]{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin-left: 100px;
  margin-right: 100px;
}/*submit button*/

.google{
  width: 300px;
  height: 250px;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 1%;
}/*the google map*/

.mail{
  margin-bottom: 30px;
  margin-top: 40px;
  float: left;
  font-size: 18px;
  flex: 1%;
}
.mail:link{color: rgb(255, 255, 255);}
.mail:visited{color: rgb(255, 255, 255);}
.mail:hover{color: rgb(59, 205, 224);}
.mail:active{color: midnightblue;}
/*email*/

.web{
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2px;
  flex: 1%;
}
.web:hover{
  opacity: 0.5;
}/*the github & linkedin links at the bottom of page*/


.blue{
  background: url(images/blue.jpg);
  height: 80px;
  padding: 10px;
}/*the blue background at bottom*/

@media all and (min-width: 800px){
  h3{
  padding: 100px;
  margin-bottom: 200px;
  }/*software engineer*/

  h2{
    margin-top: 80px;
    margin-bottom: 50px;
    }/*sub-headings*/

  .words{
    margin-bottom: 80px;
  }/*intro section*/

  .word{
    text-align: left;
    margin-left: 60px;
  }
  .fact{
   text-align: left;
   margin-left: 50px;
   margin-bottom: 10px;
  }/*the connecting with me*/

  .group{
    display: flex;
    flex-direction: row;
  }

  .skates{
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 10px;
  }/*skates picture*/

  .screen{
    width: 500px;
  }/*screen shot pictures*/

  .soon{
    margin-bottom: 80px;
  }/*the coming soon words*/

  form{
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
  button{
    margin-left: 40%;
    margin-right: 40%;
  }/*the contact fill out form*/

  .google{
   height: 400px;
   width: 500px;
  }/*the google maps section*/

  .mail, .web{
    width: 70px;
    height: 70px;
    font-size: 20px;
  }
  .web{
    margin-top: 5px;
    padding: 5px;
    margin-right: 5px;
  }
  .mail{
    margin-left: 20px;
    margin-top: 20px;
  }/*footer section*/
}

