html{
  background: steelblue; /*the whole page background*/
}
header{
background: url(images/me-smiling.jpg);
background-repeat: repeat;
background-position: center;
display: block;
background-size: auto;
height: 500px;/*the header picture of me*/
flex: 1%;
}

h1{
  font-size: 100px;
  letter-spacing: 4px;
  padding: 10px;
  margin-bottom: 200px;
  text-align: center;
  text-shadow: 0 0 20px rgb(255, 166, 1);
  flex: 1%;
}/*Jae-Davis*/

h3{
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 600;
  margin-bottom: auto;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  flex: 1%;
}/*software engineer*/

h1, h2, h3, p, ul, li{
  color: azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 1%;
}/*the font and color of all text*/

h2{
  font-size: 45px;
}/*the size of all sub-headings*/

p, ul, li{
  font-size: 20px;
  font-family: sans-serif;
  line-height: 25px;
  flex: 1%;
}/*all paragraphs and list*/

.color-slot{
text-align: left;
height: auto;
margin-left: 20px;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
display: flex; 
flex: 1%;
}/*controls just certain subheadings*/
.brain{
  width: auto;
  border-radius: 50px;
  display: flex;
  height: 300px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 20px;
  flex: 1%;
}/*the brain bulb picture*/
.group{
  display: flex;
  flex-direction: row;

}
.item{
  flex: 1px;
  margin: auto;
}/*flex box*/
.words{
  margin-right: auto;
  margin-left: auto;
  flex: 1%;
}

nav{
  background: 0;
  box-shadow: 0 0 50px rgb(219, 150, 21);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  flex: 1%;
}/*this is me section*/

.section{
  text-align: left;
  margin-right: auto;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 1%;
}

.skates{
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: auto;
  flex: 1%;
}/*the skates picture*/

.service{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  flex: 1%;
}/*the service section*/

.project{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  background: url(images/orange.jpg);
  flex: 1%;
}/*the whole project section*/
.screen{
  width: 300px;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  flex: 1%;
}/*the screen shot*/

.mail{
  margin-bottom: 60px;
  margin-top: 30px;
  float: left;
  padding: 5px;
  font-size: 20px;
  flex: 1%;
}
.mail:link{color: rgb(255, 255, 255);}
.mail:visited{color: rgb(255, 255, 255);}
.mail:hover{color: rgb(59, 205, 224);}
.mail:active{color: midnightblue;}/*email*/

.web{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  flex: 1%;

}
.web:hover{
  opacity: 0.5;
}/*the links at the bottom of page*/
.font{
  text-align: center;
}
.google{
  width: 400px;
  max-width: fit-content;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 100px;
  flex: 1%;
}

.blue{
  background: url(images/blue.jpg);
  height: 100px;
  padding: 10px;
}

@media (max-width: 1000px){
  h1, h2, h3, div, p, ul, li, img{max-width: 100%}
   }